@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url('background.jpg') no-repeat center center/cover;
  height: 100vh;
  width: 100vw;
  font-family: 'Roboto', sans-serif;
}

.container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stopwatch {
  width: 450px;
  height: 450px;
  background: rgba(85, 47, 11, 0.9);
}

.controls {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.start-btn-container,
.reset-btn-container {
  display: grid;
  margin: 0.5rem;
}

.start-btn-container {
  width: 50px;
}

.btn {
  color: #fff;
  background: none;
  border: none;
  text-decoration: none;
  outline: none;
  cursor: pointer;
}

.reset {
  transition: 0.4s;
}

.start:active {
  font-size: 1rem;
  margin-bottom: -0.4rem;
}

.reset:active {
  transform: rotate(360deg);
}

.lead {
  color: #fff;
  text-align: center;
  margin-top: 1rem;
}

.display-timer {
  display: grid;
  align-items: center;
  justify-items: center;
}

.timer {
  font-size: 5rem;
  color: #fff;
  margin-top: 5rem;
}